  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">About</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: About -->
    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-theme-color-sky line-bottom"><span class="text-theme-color-red">Welcome To {{PageData.school.name}}</span> <br> {{PageData.about.title}}</h2>
              <h4 class="text-theme-color-blue">{{PageData.about.h4}}</h4>
              <p>{{PageData.about.p}}</p>
            </div>
            <div class="col-md-6">
              <div class="video-popup">                
                <a>
                  <img alt="" src="images/about/6.png" class="img-responsive img-fullwidth">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div> 
          <img alt="" src="images/bg/f2.png" class="img-responsive img-fullwidth">
      </div>
    </section>

    <!-- Section: Features -->
    <section class="" data-bg-img="images/bg/p2.jpg">
      <div class="container pb-0">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="line-bottom-center mt-0">Our <span class="text-theme-color-red">Features</span></h2>
              <div class="title-flaticon">
                <i class="flaticon-charity-alms"></i>
              </div>
              <p>{{PageData.about.features.subtext}}</p>
            </div>
          </div>
        </div>
        <div class="section-content">     
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">              
              <div class="row features-style1">
                <div class="col-sm-12" ng-repeat="fe in PageData.about.features.left">
                  <div class="icon-box left media p-0 mb-sm-10 mt-30 mt-sm-0"> <a href="about" class="icon icon-circled icon-lg border-1px bg-theme-color-red pull-right flip mr-0 ml-30"><i ng-bind-html="fe.icon"></i></a>
                    <div class="media-body text-right">
                      <h4 class="text-theme-color-blue">{{fe.h4}}</h4>
                      <p>{{fe.p}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <img src="images/about/a1.png" alt="">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">              
              <div class="row features-style1">
                <div class="col-sm-12" ng-repeat="fe in PageData.about.features.right">
                  <div class="icon-box left media p-0 mb-sm-10 mt-30 mt-sm-30"> <a href="about" class="icon icon-circled icon-lg border-1px bg-theme-color-red  pull-left flip" ng-bind-html="fe.icon"></a>
                    <div class="media-body">
                      <h4 class="text-theme-color-blue">{{fe.h4}}</h4>
                      <p>{{fe.p}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>     
        </div>
      </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider" data-bg-img="images/bg/p5.jpg">
      <div class="container pt-90 pb-90">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50" ng-repeat="ff in PageData.about.funfact">
            <div class="funfact text-center">
              <i class="pe-7s-users mt-5 text-white"></i>
              <h2 data-animation-duration="2000" data-value="{{ff.value}}" class="animate-number text-white font-42 font-weight-300 mt-0 mb-0">0</h2>
              <h5 class="text-white">{{ff.p}}</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Courses -->
    <!--<section data-bg-img="images/bg/p2.jpg">
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="line-bottom-center mt-0">Our <span class="text-theme-color-red">Courses</span></h2>
              <div class="title-flaticon">
                <i class="flaticon-charity-alms"></i>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
            </div>
          </div>
        </div>
        <div class="row multi-row-clearfix">
          <div class="col-md-12">
            <div class="owl-carousel-3col" data-nav="true">
              <div class="item">
                <div class="campaign bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/12.jpg" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="course-details clearfix p-20 pt-15">
                    <h4 class="price-tag">$250</h4>
                    <h3 class="mt-0"><a class="text-theme-color-red" href="page-about-style1.html#">Learning Classes</a></h3>
                    <ul class="review_text list-inline">
                      <li>
                        <div class="star-rating" title="Rated 5.00 out of 5"><span data-width="100%">5.00</span></div>
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor adipisicing elit. Prsent quossit sit amet consect adipisicin elit quosit</p>
                    <div class="course-details-bottom mt-15">
                      <ul class="list-inline">
                       <li>Capacity<span>20 kids</span></li>
                       <li>Duration<span>45 min</span></li>
                       <li>Age<span>5y - 6y</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="campaign bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/13.jpg" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="course-details clearfix p-20 pt-15">
                    <h4 class="price-tag">$250</h4>
                    <h3 class="mt-0"><a class="text-theme-color-lemon" href="page-about-style1.html#">Multimedia Classes</a></h3>
                    <ul class="review_text list-inline">
                      <li>
                        <div class="star-rating" title="Rated 4.50 out of 5"><span data-width="90%">4.50</span></div>
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor adipisicing elit. Prsent quossit sit amet consect adipisicin elit quosit</p>
                    <div class="course-details-bottom mt-15">
                      <ul class="list-inline">
                       <li>Capacity<span>20 kids</span></li>
                       <li>Duration<span>45 min</span></li>
                       <li>Age<span>5y - 6y</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="campaign bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/14.jpg" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="course-details clearfix p-20 pt-15">
                    <h4 class="price-tag">$250</h4>
                    <h3 class="mt-0"><a class="text-theme-color-sky" href="page-about-style1.html#">Language Classes</a></h3>
                    <ul class="review_text list-inline">
                      <li>
                        <div class="star-rating" title="Rated 5.00 out of 5"><span data-width="100%">5.00</span></div>
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor adipisicing elit. Prsent quossit sit amet consect adipisicin elit quosit</p>
                    <div class="course-details-bottom mt-15">
                      <ul class="list-inline">
                       <li>Capacity<span>20 kids</span></li>
                       <li>Duration<span>45 min</span></li>
                       <li>Age<span>5y - 6y</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="campaign bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/15.jpg" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="course-details clearfix p-20 pt-15">
                    <h4 class="price-tag">$250</h4>
                    <h3 class="mt-0"><a class="text-theme-color-green" href="page-about-style1.html#">Drawing Classes</a></h3>
                    <ul class="review_text list-inline">
                      <li>
                        <div class="star-rating" title="Rated 4.50 out of 5"><span data-width="90%">4.50</span></div>
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor adipisicing elit. Prsent quossit sit amet consect adipisicin elit quosit</p>
                    <div class="course-details-bottom mt-15">
                      <ul class="list-inline">
                       <li>Capacity<span>20 kids</span></li>
                       <li>Duration<span>45 min</span></li>
                       <li>Age<span>5y - 6y</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="campaign bg-white maxwidth500 mb-30">
                  <div class="thumb">
                    <img src="images/project/16.jpg" alt="" class="img-fullwidth">
                    <div class="campaign-overlay"></div>
                  </div>
                  <div class="course-details clearfix p-20 pt-15">
                    <h4 class="price-tag">$250</h4>
                    <h3 class="mt-0"><a class="text-theme-color-orange" href="page-about-style1.html#">Math Classes</a></h3>
                    <ul class="review_text list-inline">
                      <li>
                        <div class="star-rating" title="Rated 5.00 out of 5"><span data-width="100%">5.00</span></div>
                      </li>
                    </ul>
                    <p>Lorem ipsum dolor adipisicing elit. Prsent quossit sit amet consect adipisicin elit quosit</p>
                    <div class="course-details-bottom mt-15">
                      <ul class="list-inline">
                       <li>Capacity<span>20 kids</span></li>
                       <li>Duration<span>45 min</span></li>
                       <li>Age<span>5y - 6y</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

  </div>
  <!-- end main-content -->
  <script src="js/custom.js"></script>
