  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">School Administrator's Details</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Experts Details -->
    <section>
      <div class="container" ng-repeat="admin in PageData.admins">
        <div class="section-content">
          <div class="row">
            <div class="col-md-4">
              <div class="thumb">
                <img ng-if="admin.pic" ng-src="{{admin.pic}}" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <h4 class="name font-24 mt-0 mb-0">{{admin.name}}</h4>
              <h5 class="mt-5 text-theme-color-red">{{admin.specialization}}</h5>
              <p ng-repeat="ep in admin.p">{{ep}}</p>
              <!--<ul class="styled-icons icon-dark icon-theme-color-red icon-sm mt-15 mb-0">
               <li><a href="page-admins-details.html#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="page-admins-details.html#"><i class="fa fa-skype"></i></a></li>
               <li><a href="page-admins-details.html#"><i class="fa fa-twitter"></i></a></li>
             </ul>-->
            </div>
          </div>
          <div class="row mt-30">
            <div class="col-md-4">
              <h4 class="line-bottom">About Me:</h4>
              <div class="volunteer-address">
                <ul>
                  <li>
                    <div class="bg-theme-color-red media border-bottom p-15 mb-20">
                      <div class="media-left">
                        <i class="pe-7s-pen text-theme-color-blue font-24 mt-5"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mt-0 mb-0">Experiences:</h5>
                        <p class="text-white" ng-repeat='exp in admin.exps'>{{exp}}</p>
                      </div>
                    </div>
                  </li>
                  <!--<li>
                    <div class="bg-theme-color-sky media border-bottom p-15 mb-20">
                      <div class="media-left">
                        <i class="fa fa-map-marker text-theme-color-blue font-24 mt-5"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mt-0 mb-0">Address:</h5>
                        <p class="text-white">Village 856 Broadway New York</p>
                      </div>
                    </div>
                  </li>-->
                  <li>
                    <div class="bg-theme-color-green media border-bottom p-15">
                      <div class="media-left">
                        <i class="fa fa-phone text-theme-color-blue font-24 mt-5"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mt-0 mb-0">Contact:</h5>
                        <p class="text-white"><div  ng-if="admin.phone"><span>Phone:</span> {{admin.phone}}<br></div><div ng-if="admin.email"><span>Email:</span> {{admin.email}}</div></p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="clearfix">
                <h4 class="line-bottom">Quick Contact:</h4>
              </div>
	      <form id="mailForm{{$index}}" onsubmit="return mailSubmit(this)">
                <input type="hidden" id="admin_name" name="admin_name" required="" class="form-control" value="{{admin.name}}">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Name" id="form_name" name="form_name" required="" class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Email" id="form_email" name="form_email" class="form-control" required="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Subject" id="form_subject" name="form_subject" class="form-control" required="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea rows="5" placeholder="Enter Message" id="form_message" name="form_message" required class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <button data-loading-text="Please wait..." class="btn btn-flat btn-dark btn-theme-color-red mt-5" type="submit">Send your message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="teResultMessage" class="form-group">
      <span class="alert alert-success" id="tePosMessage"> </span>
      <span class="alert alert-danger" id="teNegMessage"> </span>
    </div>
  </div>
  <!-- end main-content -->
  <script>
    function mailSubmit(elem) {
    console.log($(elem).serializeArray());
	$.ajax({
            url:'cgi-bin/sendmail',
            type:'post',
            data:$(elem).serialize(),
	    success: function(resp){
		if (resp.posreply) {
		    $("#tePosMessage").text( resp.posreply );
		    $("#tePosMessage").show();
		    $("#teNegMessage").text('');
		    $("#teNegMessage").hide();
		    $('#mailForm')[0].reset();
		} else if (resp.negreply) {
		    $("#tePosMessage").text('');
		    $("#tePosMessage").hide();
		    $("#teNegMessage").text( resp.negreply );
		    $("#teNegMessage").show();
		}
		$("#teResultMessage").show();
		setTimeout(function() { $("#teResultMessage").hide(); }, 5000);
            }
	});
        return false;
    }
  </script>
