<!-- Start main-content -->
<div class="main-content">
  <!-- Section: inner-header -->
  <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg">
    <div class="container pt-70 pb-20">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="title text-white">School Calender</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- divider: what makes us different -->
  <section class="divider bg-lightest">
    <div class="container">
      <div class="section-content text-center">
        <div class="row">
          <div class="col-md-12">
            <div id="full-event-calendar"></div>
            <!-- JS | Calendar Event Data -->
            <!--<script src="js/calendar-events-data.js"></script>-->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
<script src="js/custom.js"></script>
<script>
        /* ---------------------------------------------------------------------- */
        /* ------------------------------ Event Calendar ------------------------ */
        /* ---------------------------------------------------------------------- */
        TM_fcCalender = function() {
                var calendarEl = document.getElementById('full-event-calendar');
	var calendar = new FullCalendar.Calendar(calendarEl, {
                    plugins: [ 'list', 'googleCalendar' ],
                    defaultView: 'listWeek',
                    views: {
                      listDay: { buttonText: 'day' },
                      listWeek: { buttonText: 'week' },
                      listMonth: { buttonText: 'month' }
                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'listDay,listWeek,listMonth'
                    },
//	    events: {
//		url: 'cgi/calendar.json',
//		method: 'POST'
//	    },
	googleCalendarApiKey: 'AIzaSyBUtSqEDoMU4THvA1z0sqR-zkuP_fwV2is',
	events: {
	googleCalendarId: 'greathuman.school@gmail.com',
	},
   	    eventClick: function(info) {
		alert(info.event.start + '-' + info.event.end + ':' + info.event.title);
	    },
                    editable: false,
                    eventLimit: true
                });
              calendar.render();
        }
	TM_fcCalender();
</script>
