  <!-- Start main-content -->
  <div class="main-content">
  
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row"> 
            <div class="col-md-6">
              <h2 class="text-theme-color-yellow font-36">Contact</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Divider: Contact -->
    <section class="divider">
      <div class="container pt-50 pb-70">
        <div class="row pt-10">
          <div class="col-md-5">
            <h4 class="mt-0 mb-30 line-bottom">Find Our Location</h4>
            <!-- Google Map HTML Codes -->
	    <div id="googleMap" style="width:100%;height:400px;"></div>
            <div class="map-popupstring hidden" id="popupstring1">
              <div class="text-center">
                <h3>{{PageData.school.name}}</h3>
                <p>{{PageData.school.address}}</p>
              </div>
            </div>
            <!-- Google Map Javascript Codes -->
            <script src="http://maps.google.com/maps/api/js?key=AIzaSyAYWE4mHmR9GyPsHSOVZrSCOOljk8DU9B4"></script>
            <script src="js/google-map-init.js"></script>
          </div>
          <div class="col-md-7">
            <h4 class="mt-0 mb-30 line-bottom">Interested in discussing?</h4>
            <!-- Contact Form -->
            <form id="mailForm" name="mailForm">

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input id="form_name" name="form_name" class="form-control" type="text" placeholder="Enter Name" required="">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input id="form_email" name="form_email" class="form-control required email" type="email" placeholder="Enter Email">
                  </div>
                </div>
              </div>                
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input id="form_subject" name="form_subject" class="form-control required" type="text" placeholder="Enter Subject">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-30">
                    <input id="form_phone" name="form_phone" class="form-control" type="text" placeholder="Enter Phone">
                  </div>
                </div>
              </div>

              <div class="form-group mb-30">
                <textarea id="form_message" name="form_message" class="form-control required" rows="7" placeholder="Enter Message"></textarea>
              </div>
              <div class="form-group">
                <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="" />
                <button type="submit" class="btn btn-dark btn-theme-color-blue btn-flat mr-5" data-loading-text="Please wait...">Send your message</button>
                <button type="reset" class="btn btn-default btn-flat btn-theme-color-red">Reset</button>
              </div>
              <div id="resultMessage" class="form-group">
		<span class="alert alert-success" id="posMessage"> </span>
		<span class="alert alert-danger" id="negMessage"> </span>
              </div>
            </form>
          </div>
        </div>
        <div class="row mt-60">
          <div class="col-sm-12 col-md-3">
            <div class="contact-info text-center bg-theme-color-sky border-1px pt-60 pb-60">
              <i class="fa fa-phone font-36 mb-10 text-theme-color-red"></i>
              <h4>Call Us</h4>
              <h6 class="text-white" ng-if="PageData.school.office">Office: {{PageData.school.office}}</h6>
              <h6 class="text-white" ng-if="PageData.school.phone">Phone: {{PageData.school.phone}}</h6>
            </div>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="contact-info text-center bg-theme-color-yellow border-1px pt-60 pb-60">
              <i class="fa fa-map-marker font-36 mb-10 text-theme-color-red"></i>
              <h4>Address</h4>
              <h6 class="text-white">{{PageData.school.address}}</h6>
            </div>
          </div>
          <div class="col-sm-12 col-md-3" ng-if="PageData.school.mail">
            <div class="contact-info text-center bg-theme-color-green border-1px pt-60 pb-60">
              <i class="fa fa-envelope font-36 mb-10 text-theme-color-red"></i>
              <h4>Email</h4>
              <h6 class="text-white">{{PageData.school.mail}}</h6>
            </div>
          </div>
          <div class="col-sm-12 col-md-3" ng-if="PageData.school.fax">
            <div class="contact-info text-center bg-theme-color-lemon border-1px pt-60 pb-60">
              <i class="fa fa-fax font-36 mb-10 text-theme-color-red"></i>
              <h4>Fax</h4>
              <h6 class="text-white">{{PageData.school.fax}}</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoMzJsCvfsEWcpuSgEuly3TF2trKJqPhE&callback=mapInit"></script>
<script>
    $('#mailForm').submit(function(e) {
	e.preventDefault();
	$.ajax({
            url:'cgi-bin/sendmail',
            type:'post',
            data:$('#mailForm').serialize(),
	    success: function(sresp){
      	let resp = JSON.parse(sresp);
		    if (resp.posreply) {
		      $("#posMessage").text( resp.posreply );
		    $("#posMessage").show();
		    $("#negMessage").text('');
		    $("#negMessage").hide();
		    $('#mailForm')[0].reset();
		} else if (resp.negreply) {
		    $("#posMessage").text('');
		    $("#posMessage").hide();
		    $("#negMessage").text( resp.negreply );
		    $("#negMessage").show();
		}
		$("#resultMessage").show();
		setTimeout(function() { $("#resultMessage").hide(); }, 5000);
            }
	});
    });
    function mapInit() {
	var mySchool = new google.maps.LatLng(10.570924, 77.248958);
	var mapProp= {
	    center: mySchool,
	    zoom:14,
	};
	var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
	var marker = new google.maps.Marker({
	    position: mySchool,
	    animation:google.maps.Animation.BOUNCE
	});
	marker.setMap(map);
    }
    $("#resultMessage").hide();
</script>

