  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">Course Details</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 blog-pull-right">
            <div class="single-service">
              <h2 class="text-theme-color-red line-bottom">Courses List</h2>
	      <div class="panel-group">
		<div class="panel panel-default" ng-repeat="course in PageData.courses">
		  <div class="panel-heading">
		    <h4 class="panel-title text-theme-color-red line-bottom">
		      <a data-toggle="collapse" href="#collapse-{{$index}}">{{course.h2}}</a>
		    </h4>
		  </div>
		  <div id="collapse-{{$index}}" class="panel-collapse collapse">
		    <img src="{{course.img}}" alt="">
		    <h2 class="text-theme-color-red line-bottom">Learning Classes</h2>
		    <h4 class="mt-0" ng-if="course.price"><span class="text-theme-color-red">Price :</span>{{course.price}}</h4>
		    <ul class="review_text list-inline" ng-if="course.rating">
		      <li>
			<div class="star-rating" title="Rated {{course.rating}} out of 5"><span data-width="100%">{{course.rating}}</span></div>
		      </li>
		    </ul>
		    <h4 ng-bind-html="course.head"></h4>
		    <p ng-repeat="b in course.body">{{b}}</p>
		    <h3 class="line-bottom mt-20 mb-20 text-theme-color-red">Information</h3>
		    <table class="table table-bordered"> 
                      <tr>
			<td class="text-center font-16 font-weight-600 bg-theme-color-blue text-white" colspan="4">Details For: {{course.h2}}</td>
                      </tr>
                      <tbody>
			<tr ng-repeat="info in course.infos">
			  <td ng-if="($index%3)==0">{{info.wh}}</td> <td ng-if="($index%3)==0">{{info.v}}</td>
			  <td ng-if="($index%3)==1" class="bg-theme-color-yellow text-white">{{info.wh}}</td> <td ng-if="($index%3)==1" class="bg-theme-color-green text-white">{{info.v}}</td>
			  <td ng-if="($index%3)==2" class="bg-theme-color-red text-white">{{info.wh}}</td> <td ng-if="($index%3)==2" class="bg-theme-color-sky text-white">{{info.v}}</td>
			</tr>
                      </tbody> 
		    </table>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div> 
          <img alt="" src="images/bg/f2.png" class="img-responsive img-fullwidth">
	</div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
  <script src="js/custom.js"></script>
