<!DOCTYPE html>
<html dir="ltr" lang="en" ng-app="SchoolApp" ng-controller="SchoolController">
  <head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{{PageData.school.name}} - {{PageData.school.nametag}}" />
    <meta name="keywords" content="{{PageData.school.keywords}}" />
    <meta name="author" content="ThemeMascot" />
    <base href="/">

    <!-- Page Title -->
    <title>{{PageData.school.name}} - {{PageData.school.nametag}}</title>

    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Pacifico" rel="stylesheet">

    <!-- Stylesheet -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" integrity="sha256-VQzrlVm7QjdSeQn/IecZgE9rnfM390H3VoIcDJljOSs=" crossorigin="anonymous" />
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/css-plugin-collections.css" rel="stylesheet"/>
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
    <!-- CSS | Main style file -->
    <link href="css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
    <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="css/mobiscroll.angularjs.min.css">
    <link rel="stylesheet" href="css/calendar.core.min.css">
    <link rel="stylesheet" href="css/calendar.daygrid.min.css">
    <link rel="stylesheet" href="css/calendar.timegrid.min.css">

    <!-- Revolution Slider 5.x CSS settings -->
    <link  href="js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
    <link  href="js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

    <!-- CSS | Theme Color -->
    <link href="css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css">

  </head>
  <body class="boxed-layout pt-40 pb-40 pt-sm-0" data-bg-img="images/pattern/p33.png">
    <div id="wrapper" class="clearfix">
      <!-- Header -->
      <header id="header" class="header">
	<div class="header-middle p-0 bg-lightest xs-text-center">
	  <div class="container pt-0 pb-0">
            <div class="row">
              <!--<div class="col-xs-12 col-sm-4 col-md-5">
		<div class="widget no-border m-0">
		  <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="javascript:void(0)"><img src="images/logo-wide.png" alt=""></a>
		</div>
              </div>-->
              <div class="col-xs-6 col-sm-4 col-md-5">
		<div class="widget no-border m-0">
		  <div ng-bind-html="getLogo()"></div>
		</div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
		<div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
		  <ul class="list-inline">
                    <li><i class="fa fa-phone-square text-theme-color-sky font-36 mt-5 sm-display-block"></i></li>
                    <li>
                      <a href="tel:{{PageData.school.office}}" class="font-12 text-black text-uppercase">Call us today!</a>
                      <h5 class="font-14 text-theme-color-blue m-0">{{PageData.school.office}}</h5>
                    </li>
		  </ul>
		</div>
              </div>  
              <div class="col-xs-12 col-sm-4 col-md-3">
		<div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
		  <ul class="list-inline">
                    <li><i class="fa fa-clock-o text-theme-color-red font-36 mt-5 sm-display-block"></i></li>
                    <li>
                      <a ng-if="checkSchoolStatus()" href="tel:{{PageData.school.office}}" class="font-12 text-black text-uppercase">We are open!</a>
                      <a ng-if="!checkSchoolStatus()" href="tel:{{PageData.school.office}}" class="font-12 text-black text-uppercase">We are closed!</a>
                      <h5 class="font-13 text-theme-color-blue m-0">{{PageData.school.openHours['Mon-Fri']}}</h5>
                    </li>
		  </ul>
		</div>
              </div>
            </div>
	  </div>
	</div>
	<div class="header-nav">
	  <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-color-red border-bottom-theme-color-sky-2px">
            <div class="container">
              <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
		<ul class="menuzord-menu">
		  <li ng-class="{active: $route.current.activetab == 'home'}"><a href="home">Home</a></li>
		  <li ng-class="{active: $route.current.activetab == 'about'}"><a href="about">About</a></li>
		  <li ng-class="{active: $route.current.activetab == 'admins'}"><a href="admins">Administration</a></li>
		  <li ng-class="{active: $route.current.activetab == 'courses'}"><a href="courses">Courses</a></li>
		  <li ng-class="{active: $route.current.activetab == 'calendar'}"><a href="calendar">Calendar</a></li>
		  <li ng-class="{active: $route.current.activetab == 'timetable'}"><a href="timetable">Time Tables</a></li>
		  <li ng-class="{active: $route.current.activetab == 'contact'}"><a href="contact">Contact</a></li>
		</ul>
              </nav>
            </div>
	  </div>
	</div>
      </header>
    </div>

    <!-- main-content -->
    <div class="main-content">
      <div ng-view></div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="images/bg/bg8.jpg">
      <div class="container">
	<div class="row border-bottom">
          <div class="col-sm-5 col-md-5 col-xs-5">
            <div class="widget dark">
	      <img class="mt-5 mb-20" alt="" src="images/logo-white-footer.png">
	      <p>{{PageData.school.address}}</p>
	      <ul class="list-inline mt-5">
		<li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-red mr-5"></i> <a class="text-gray" href="index-boxed-mp-layout1.html#">{{PageData.school.office}}</a> </li>
		<li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-lemon mr-5"></i> <a class="text-gray" href="index-boxed-mp-layout1.html#">{{PageData.school.mail}}</a> </li>
		<li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-orange mr-5"></i> <a class="text-gray" href="index-boxed-mp-layout1.html#">{{PageData.school.domain}}</a> </li>
	      </ul>
            </div>
          </div>
          <div class="col-sm-5 col-md-5 col-xs-5">
            <div class="widget dark">
	      <h4 class="widget-title">School's Office Hours</h4>
	      <div class="opening-hours">
		<ul class="list-border">
                  <li class="clearfix" ng-repeat='(ohk, ohv) in PageData.school.openHours'> <span> {{ohk}} :  </span>
                    <div class="value pull-right"> {{ohv}} </div>
                  </li>
		</ul>
	      </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-xs-2">
            <div class="widget dark">
	      <h5 class="widget-title mb-10">Call Us Now</h5>
	      <div class="text-gray">
		{{PageData.school.office}} <br>
		{{PageData.school.phone}}
	      </div>
            </div>
          </div>
          <!--<div class="col-sm-4 col-md-4 col-xs-4">
            <div class="widget dark">
		<h5 class="widget-title mb-10">Connect With Us</h5>
		<ul class="styled-icons icon-bordered icon-sm">
		  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-facebook"></i></a></li>
		  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-twitter"></i></a></li>
		  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-skype"></i></a></li>
		  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-youtube"></i></a></li>
		  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-instagram"></i></a></li>
		  <li><a href="index-boxed-mp-layout1.html#"><i class="fa fa-pinterest"></i></a></li>
		</ul>
	    </div>
          </div>-->
	</div>
      </div>
      <div class="footer-bottom bg-black-333">
	<div class="container pt-20 pb-20">
          <div class="row">
          </div>
	</div>
      </div>
    </footer>
    <a class="scrollToTop" href="index-boxed-mp-layout1.html#"><i class="fa fa-angle-up"></i></a>
    <!-- end wrapper -->

    <!-- Footer Scripts -->
    <!-- external javascripts -->
    <!--<script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.js"></script>-->
    <!--<script src="js/angular.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
    <!--<script src="js/angular-route.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js" integrity="sha256-jZRUyy674QanjfVAn9YBW+d1iuxj8csDOxrwS35/GLo=" crossorigin="anonymous"></script>
    <!--<script src="js/angular-sanitize.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-sanitize.min.js" integrity="sha256-rkC3YaCKtbLotg8lQpxqYki+DDOVXjcA5wTSxjRlI0E=" crossorigin="anonymous"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.min.js"></script>-->
    <!--<script src="js/angular-ui-router.js"></script>-->
    <!-- JS | jquery plugin collection for this theme -->
    <script src="js/jquery-plugin-collection.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems ! 
	 The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="js/mobiscroll.angularjs.min.js"></script>
    <!--<script>
      var script = null;
      var heads = document.getElementsByTagName("head");
      if (heads && heads.length) {
          var head = heads[0];
          if (head) {
  	    script = document.createElement('script');
  	    script.setAttribute('src', '/specific/'+window.location.hostname+'/index_info.js');
  	    script.setAttribute('type', 'text/javascript');
  	    head.appendChild(script);
  	}
      }
    </script>-->
    <!--<script type="text/javascript" src="specific/localhost.js"></script>-->
    <!-- <script type="text/javascript" src="https://drive.google.com/file/d/1w0lr6NyLnh-l4VdAP5xsuF9x0121ROdI/view"></script> -->
    <script type="text/javascript" src="index_info.js"></script>
    <!-- JS | Custom script for all pages -->
    <!--<script src="js/custom.js"></script>-->
    <script>
        /* ---------------------------------------------------------------------------- */
        /* --------------------------- collapsed menu close on click ------------------ */
        /* ---------------------------------------------------------------------------- */
        TM_scrollToFixed = function() {
            $('.navbar-scrolltofixed').scrollToFixed();
            $('.scrolltofixed').scrollToFixed({
                marginTop: $('.header .header-nav').outerHeight(true) + 10,
                limit: function() {
                    var limit = $('#footer').offset().top - $(this).outerHeight(true);
                    return limit;
                }
            });
            $('#sidebar').scrollToFixed({
                marginTop: $('.header .header-nav').outerHeight() + 20,
                limit: function() {
                    var limit = $('#footer').offset().top - $('#sidebar').outerHeight() - 20;
                    return limit;
                }
            });
        };
	TM_scrollToFixed();
    </script>

  </body>
</html>
