<!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title text-white">Time Table</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Timetable -->
    <section id="timetablesection">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <div class="styled-select">
		<select id="section_selection" ng-model="section_selection" class="form-control" aria-required="true">
                  <option ng-repeat="(k,v) in PageData.timetable" value="{{k}}">{{k}}</option>
		</select>
              </div>
            </div>
            <div class="col-md-5"></div>
          </div>
          <div class="row"><h3></h3></div>
          <div class="row">
            <div class="col-md-12">
              <!-- Fc Calendar Calendar -->
              <div id='calendar'></div>

              <!-- Fc Calendar Script -->
              <script>
    var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: [ 'timeGrid', 'googleCalendar' ],
    timeZone: 'local',
    defaultView: 'timeGridWeek',
    header: {
	left: '',
	center: 'title',
	right: 'today prev,next'
    },
    minTime: '08:00:00',
    maxTime: '20:00:00',
    editable: false,
    allDaySlot: true,
    columnFormat: 'dddd',
    editable: false,
    slotDuration: '00:15:00',
    contentHeight: 'auto',
    googleCalendarApiKey: 'AIzaSyBUtSqEDoMU4THvA1z0sqR-zkuP_fwV2is',
    eventClick: function(info) {
	alert(info.event.start + '-' + info.event.end + ':' + info.event.title);
    },
});

$(document).ready(function() {
    $('#section_selection').trigger('change');
    $('#section_selection').change(function(){
	var es = calendar.getEventSources();
	for (var i = 0; i < es.length; i++) {
	    es[i].remove();
	}
	var newES=angular.element("#timetablesection").scope().PageData.timetable[$(this).val()];
	calendar.addEventSource(newES);
    });
    calendar.render();
});
              </script>
              <!-- === FC Calendar Ends === -->

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
  <script src="js/custom.js"></script>
